# Ignore node_modules folder
node_modules
yarn.lock
package-lock.json

# Ignore dist folder with all the minified files
dist/*

# Ignore .editorconfig folder
.editorconfig

# Local Netlify folder
.netlify
