.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 3rem;

  @include respond(iphoneX) {
    padding: 0 1rem;
  }

  @include respond(bp-smallest) {
    padding: 0 0.5rem;
  }

  @include respond(bp-small-smallest) {
    padding: 0 1rem;
  }

  @include respond(bp-medium-small) {
    padding: 5px;
  }

  @include respond(bp-large-medium) {
    padding: 0 2.5rem;
  }
}
