.grid-container {
  display: grid;
  grid-template-rows: 30vh min-content 30vh repeat (7, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      9,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-row-gap: 3rem;
  justify-content: center;

  @include respond(iphoneX) {
    grid-row-gap: 0;
  }

  @include respond(bp-smallest) {
    grid-row-gap: 0.8rem;
  }

  @include respond(bp-small-smallest) {
    grid-row-gap: 0.8rem;
  }

  @include respond(bp-medium-small) {
    grid-row-gap: 0.8rem;
  }

  @include respond(bp-large-medium) {
    grid-row-gap: 1.2rem;
  }
}
