.cards-slider {
  display: none;
  max-width: 1320px;
  margin: 0 auto;

  @include respond(iphoneX) {
    display: block;
    margin: 2rem auto;
  }

  @include respond(bp-smallest) {
    display: block;
    margin-top: 3rem;
  }
}

#tns1-ow {
  display: none;

  @include respond(iphoneX) {
    display: block;
  }

  @include respond(bp-smallest) {
    display: block;
  }
}
