.globoplay-btn-sd {
  display: none;
  text-align: center;

  .globoplay-btn {
    background-color: var(--color-blue);
    font-size: 1.5rem;
    padding: 2rem 3rem;
    border-radius: 3px;
    color: var(--color-grey-light-1);
  }

  @include respond(iphoneX) {
    display: block;
    margin-top: 2.5rem;
  }

  @include respond(bp-smallest) {
    display: block;
    margin-top: 5rem;
  }

  @include respond(bp-small-smallest) {
    display: block;
    margin-top: 3.8rem;
    margin-bottom: 0;
  }

  @include respond(bp-medium-small) {
    display: block;
    margin-top: 6rem;
    margin-bottom: 0;
  }

  @include respond(bp-large-medium) {
    display: block;
    margin-bottom: 5rem;
    margin-top: 2.7rem;
  }
}
