*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // from the html.
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% (1rem = 10px).
}

body {
  background-color: #f8f8f8;
}

* > ul {
  list-style-type: none;
}

* > a {
  text-decoration: none;
}
