/* MEDIA QUERIES */
@mixin respond($breakpoint) {
  /* MOBILES */
  @if $breakpoint == iphoneX {
    @media only screen and (max-width: 479.99px) and (min-width: 320px) {
      @content;
    }
  }

  /* DESKTOP MEDIA QUERIES */
  @if $breakpoint == bp-smallest {
    @media only screen and (max-width: 511.99px) and (min-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == bp-small-smallest {
    @media only screen and (max-width: 799.99px) and (min-width: 512px) {
      @content;
    }
  }

  @if $breakpoint == bp-medium-small {
    @media only screen and (max-width: 899.99px) and (min-width: 800px) {
      @content;
    }
  }

  @if $breakpoint == bp-large-medium {
    @media only screen and (max-width: 999.99px) and (min-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == bp-between-largest-large {
    @media only screen and (max-width: 1139.99px) and (min-width: 1000px) {
      @content;
    }
  }

  @if $breakpoint == bp-largest {
    @media only screen and (max-width: 1200px) and (min-width: 1140px) {
      @content;
    }
  }
}
