// Divider
.divider {
  border-top: 1px solid #ccc;
}

// COLOR HELPER CLASSES
.red {
  color: var(--color-red);
}
.green {
  color: var(--color-green);
}
.orange {
  color: var(--color-orange);
}
.gray {
  color: var(--color-gray);
}
.blue {
  color: var(--color-blue);
}

// DROPDOWN TITLES
.dropdown-title {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: var(--color-gray);
  margin-bottom: 1.5rem;
}

.none {
  display: none;
}
