// FONT-FAMILY
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// COLOR VARIABLES
:root {
  --color-red: #a80000;
  --color-green: #3b9c00;
  --color-orange: #ff7f00;
  --color-gray: #666;
  --color-blue: #0669de;

  --color-red-text: #cd150c;
  --color-green-text: #359e00;
  --color-orange-text: #ff8100;

  --color-red-text-2: #f31d1d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-gray-light-5: #e0e0e0;

  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #444;
  --color-grey-dark-4: #333;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  // FONT VARIABLES
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}
