.grid-container__advertisement {
  grid-column: center-start/center-end;
  height: 35vh;
  background-image: url(../../../dist/minified/assets/advertisement.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
}
