.advertisement {
  grid-column: center-start/center-end;
  height: 35vh;
  background-image: url(../../../dist/minified/assets/advertisement/advertisement.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;

  @include respond(iphoneX) {
    display: none;
  }

  @include respond(bp-smallest) {
    height: 25vh;
  }

  @include respond(ipad-pro) {
    height: 15vh;
  }

  &:first-child {
    @include respond(bp-smallest) {
      display: none;
    }
  }
}
