.analytics {
  grid-column: full-start/full-end;
  display: flex;
  justify-content: center;

  .analytics__economics {
    width: 33.33%;
    border: 1px solid var(--color-grey-light-4);
    border-radius: 5px;

    .analytics__currency {
      display: flex;
      justify-content: space-between;
      padding: 4rem 2.5rem;

      .analytics__finance {
        &:hover {
          @extend %hover;
          filter: brightness(120%);
        }

        .analytics__h6 {
          color: var(--color-grey-dark-3);
          font-size: 1.2rem;
          border-bottom: 1px solid var(--color-grey-light-4);

          @include respond(bp-large-medium) {
            font-size: 1rem;
          }
        }

        .analytics__value {
          display: flex;
          justify-content: center;
          color: var(--color-green-text);
          padding: 4px;

          .analytics__icon {
            font-size: 2.5rem;

            @include respond(bp-large-medium) {
              font-size: 1.5rem;
            }
          }

          .analytics__number {
            font-size: 4rem;

            @include respond(bp-large-medium) {
              font-size: 3rem;
            }
          }

          .analytics__percent {
            font-size: 1.8rem;

            @include respond(bp-large-medium) {
              font-size: 1.5rem;
            }
          }
        }

        .analytics__points {
          font-size: 1.5rem;
          color: var(--color-grey-dark-1);

          @include respond(bp-large-medium) {
            font-size: 1rem;
          }
        }

        @include respond(bp-large-medium) {
          margin-top: 2px;
        }
      }

      .analytics__currencies {
        display: table;
        border-collapse: collapse;
        border-spacing: 1px;
        margin-top: 2px;
        color: var(--color-grey-dark-3);

        .analytics__thead {
          display: table-header-group;
          vertical-align: middle;

          .analytics__tr {
            display: table-row;
            vertical-align: initial;

            .analytics__currencies--left,
            .analytics__currencies--right {
              font-size: 1.2rem;
              border-bottom: 1px solid var(--color-grey-light-4);
            }

            .analytics__currencies--left {
              text-align: initial;

              @include respond(bp-large-medium) {
                font-size: 1rem;
              }
            }

            .analytics__currencies--right {
              text-align: end;
            }

            @include respond(bp-large-medium) {
              font-size: 1rem;
            }
          }
        }

        .analytics__tbody {
          display: table-row-group;
          vertical-align: middle;

          .analytics__tr {
            display: table-row;
            vertical-align: initial;

            .analytics__tr-coin {
              display: table-cell;
              font-size: 1.3rem;
              color: #666;
              padding: 1rem 1rem 1rem 0;

              @include respond(bp-large-medium) {
                font-size: 1.1rem;
              }
            }

            .analytics__tr-value {
              display: table-cell;
              font-size: 1.2rem;
              color: var(--color-grey-dark-1);
              padding: 1rem 0 1rem 1rem;

              @include respond(bp-large-medium) {
                font-size: 1.1rem;
              }
            }

            @include respond(bp-large-medium) {
              font-size: 9px;
            }
          }
        }
      }

      @include respond(bp-large-medium) {
        margin-bottom: 0;
        padding: 2rem;
      }
    }

    @include respond(bp-smallest) {
      width: 90%;
    }

    @include respond(bp-small-smallest) {
      margin: 3rem 0;
      width: 70%;
    }

    @include respond(bp-medium-small) {
      width: 60%;
      margin: 0 auto;
    }
  }

  .analytics__schedule {
    width: 33.33%;
    border: 1px solid var(--color-grey-light-4);
    border-radius: 5px;

    .analytics__schedule-h6 {
      color: var(--color-grey-dark-3);
      font-size: 12px;
      padding: 2rem 1.5rem;

      @include respond(bp-large-medium) {
        padding: 2rem 1.5rem 0 1.5rem;
        font-size: 1.2rem;
      }
    }

    .analytics__schedule-h4 {
      font-size: 1.8rem;
      padding: 0 18rem 2rem 1.5rem;
      margin-bottom: 3.1rem;

      &:hover {
        @extend %hover;
      }

      @include respond(iphoneX) {
        padding: 0 0rem 2rem 1.5rem;
      }

      @include respond(bp-smallest) {
        padding: 0 1rem;
        margin-bottom: 1rem;
      }

      @include respond(bp-largest) {
        padding: 0 0rem 2rem 1.5rem;
        font-size: 1.4rem;
      }

      @include respond(bp-large-medium) {
        padding: 2rem 1rem 1rem 1rem;
        font-size: 1.4rem;
      }

      @include respond(bp-between-largest-large) {
        padding: 1rem 0 1rem 1rem;
        font-size: 1.4rem;
      }
    }

    @include respond(bp-small-smallest) {
      display: none;
    }

    @include respond(bp-medium-small) {
      display: none;
    }
  }

  .analytics__schedule--ge {
    margin: 0 2rem;
    color: var(--color-green-text);

    @include respond(bp-smallest) {
      width: 90%;
      margin: 1.5rem 0;
    }
  }

  .analytics__schedule--gshow {
    color: var(--color-orange-text);

    @include respond(bp-smallest) {
      width: 90%;
      margin-bottom: 2rem;
    }
  }

  .analytics__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    border-top: 1px solid var(--color-grey-light-4);

    .analytics__span {
      font-size: 1.2rem;
      color: var(--color-grey-dark-1);
    }

    @include respond(bp-large-medium) {
      margin-top: 10px;
    }
  }

  @include respond(iphoneX) {
    padding: 2rem;
  }

  @include respond(bp-smallest) {
    flex-direction: column;
    align-items: center;
  }

  @include respond(bp-medium-small) {
    margin: 5rem 0;
  }

  @include respond(bp-between-largest-large) {
    margin-top: 3.5rem;
  }

  @include respond(bp-largest) {
    margin-top: 2.5rem;
  }
}
