.grid-container__analytics {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-column-gap: 3rem;
  margin-bottom: 20rem;
}

.grid-container__economics {
  border: 1px solid #ccc;
  border-radius: 5px;

  &--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.4rem;
    margin: 1rem;
    grid-column-gap: 2rem;
  }
}

.grid-container__finance {
  a {
    color: #444;
  }
  h6 {
    color: #444;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
  }

  &--value {
    display: flex;
    padding: 4px;
  }

  &--icon {
    color: green;
    font-size: 2.5rem;
  }

  &--number {
    color: green;
    font-size: 4rem;
  }

  &--percent {
    color: green;
    font-size: 18px;
  }
}

.grid-container__points {
  font-size: 15px;
  color: #999;
}

.grid-container__currencies {
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2px;

    thead {
      color: #444;
    }

    tbody {
      font-size: 15px;
      color: #444;
      margin: 5px;

      tr {
        margin: 5px;
      }
    }
  }

  &--left {
    border-bottom: 1px solid#ccc;
    text-align: initial;
    color: #444;
  }

  &--right {
    border-bottom: 1px solid#ccc;
    text-align: end;
  }
}

.xua {
  text-align: initial;
  color: #666;
  font-size: 13px;
}

.bua {
  padding: 8px 0;
  text-align: end;
  color: #999;
  font-weight: 100;
}

.grid-container__economics--footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 2rem;
  border-top: 1px solid#ccc;
  font-size: 12px;
  color: #999;
  text-align: end;
}

/* ECONOMICS ENDS */

/* SPORTS */
.grid-container__sports {
  border: 1px solid #ccc;
  border-radius: 5px;

  h6 {
    color: #444;
    font-size: 12px;
    padding: 2rem 1.5rem;
  }

  h4 {
    font-size: 1.8rem;
    padding: 0 18rem 2rem 1.5rem;
    color: green;
  }

  &--container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &--footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
    border-top: 1px solid #ccc;
    font-size: 12px;
    font-weight: 300;
    text-align: initial;

    a {
      color: #999;
    }
  }
}

/* SPORTS ENDS */

/* ENTERTAINMENT */
.grid-container__entertainment {
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* ENTERTAINMENT ENDS */
