.analytics {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 3rem;

  @include respond(iphone6to8P) {
    padding: 2rem;
  }

  @include respond(iphoneX) {
    padding: 2rem;
  }

  @include respond(bp-medium-small) {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    margin: 5rem 0;
  }

  @include respond(bp-large-medium) {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }

  @include respond(bp-between-largest-large) {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }

  /* ECONOMICS */
  .analytics-economics {
    border: 1px solid var(--color-grey-light-4);
    border-radius: 5px;

    @include respond(bp-small-smallest) {
      margin: 5rem 8.5rem;
    }

    @include respond(bp-medium-small) {
      margin: 0 8rem;
    }

    .analytics-economics--container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 1.4rem;
      margin: 1rem;
      grid-column-gap: 2rem;

      @include respond(bp-large-medium) {
        margin-bottom: 2.1rem;
      }
    }

    .analytics-economics--footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem 2rem;
      border-top: 1px solid var(--color-grey-light-4);
      font-size: 12px;
      color: var(--color-grey-dark-1);
      text-align: end;

      .datetime-container {
        @include respond(bp-large-medium) {
          font-size: 1rem;
        }
      }

      @include respond(bp-large-medium) {
        margin-top: 10px;
      }
    }
  }

  .analytics-finance {
    a {
      color: var(--color-grey-dark-3);
    }

    h6 {
      color: var(--color-grey-dark-3);
      font-size: 12px;
      border-bottom: 1px solid var(--color-grey-light-4);

      @include respond(bp-large-medium) {
        font-size: 9px;
      }
    }

    .analytics-finance--value {
      display: flex;
      padding: 4px;
    }

    .analytics-finance--icon,
    .analytics-finance--number,
    .analytics-finance--percent {
      color: var(--color-green-text);
    }

    .analytics-finance--icon {
      font-size: 2.5rem;

      @include respond(bp-large-medium) {
        font-size: 1.5rem;
      }
    }

    .analytics-finance--number {
      font-size: 4rem;

      @include respond(bp-large-medium) {
        font-size: 3rem;
      }
    }

    .analytics-finance--percent {
      font-size: 18px;

      @include respond(bp-large-medium) {
        font-size: 1.5rem;
      }
    }

    .analytics-finance--points {
      font-size: 15px;
      color: var(--color-grey-dark-1);

      @include respond(bp-large-medium) {
        font-size: 13px;
      }
    }

    @include respond(bp-large-medium) {
      margin-top: 2px;
    }
  }

  .analytics-currencies {
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 2px;

      thead,
      tbody {
        color: var(--color-grey-dark-3);
      }

      tbody {
        font-size: 15px;
        margin: 5px;

        tr {
          margin: 5px;

          @include respond(bp-large-medium) {
            font-size: 9px;
          }
        }
      }
    }

    .analytics-currencies--left,
    .analytics-currencies--right {
      border-bottom: 1px solid var(--color-grey-light-4);
    }

    .analytics-currencies--left {
      text-align: initial;
    }

    .analytics-currencies--right {
      text-align: end;
    }

    .analytics-currencies--coin {
      text-align: initial;
      color: #666;
      font-size: 13px;

      @include respond(bp-large-medium) {
        font-size: 11px;
      }
    }

    .analytics-currencies--value {
      padding: 8px 0;
      text-align: end;
      color: var(--color-grey-dark-1);
      font-weight: 100;

      @include respond(bp-large-medium) {
        font-size: 11px;
      }
    }
  }
  /* ECONOMICS ENDS */

  /* SPORTS/ENTERTAINMENT */
  .analytics-sports {
    @include respond(iphone6to8P) {
      margin: 2rem 0;
    }

    @include respond(iphoneX) {
      margin: 2rem 0;
    }
  }

  .analytics-sports,
  .analytics-entertainment {
    border: 1px solid var(--color-grey-light-4);
    border-radius: 5px;

    @include respond(bp-small-smallest) {
      display: none;
    }

    @include respond(bp-medium-small) {
      display: none;
    }

    h6 {
      color: var(--color-grey-dark-3);
      font-size: 12px;
      padding: 2rem 1.5rem;

      @include respond(bp-large-medium) {
        padding: 2rem 1.5rem 0 1.5rem;
        font-size: 1.2rem;
      }
    }

    h4 {
      font-size: 1.8rem;
      padding: 0 18rem 2rem 1.5rem;

      @include respond(iphone6to8P) {
        padding: 0 0rem 1.8rem 1.4rem;
      }

      @include respond(iphoneX) {
        padding: 0 0rem 2rem 1.5rem;
      }

      @include respond(bp-largest) {
        padding: 0 0rem 2rem 1.5rem;
        font-size: 1.4rem;
      }

      @include respond(bp-large-medium) {
        padding: 2rem 1rem 1rem 1rem;
        font-size: 1.4rem;
      }

      @include respond(bp-between-largest-large) {
        padding: 1rem 0 1rem 1rem;
        font-size: 1.4rem;
      }
    }

    &--container {
      display: grid;
      grid-template-columns: 1fr;

      @include respond(bp-large-medium) {
        margin-bottom: 4.6rem;
      }
    }

    &--footer {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem 2rem;
      border-top: 1px solid var(--color-grey-light-4);
      font-size: 12px;
      font-weight: 300;
      text-align: initial;

      a {
        color: var(--color-grey-dark-1);
      }

      @include respond(bp-largest) {
        margin-top: 25px;
      }

      @include respond(bp-between-largest-large) {
        margin-top: 35px;
      }
    }
  }

  .analytics-sports h4 {
    color: var(--color-green-text);
  }

  .analytics-entertainment h4 {
    color: var(--color-orange-text);
  }
  /* SPORTS/ENTERTAINMENT ENDS */
}
