.cards-slider {
  display: none;
  max-width: 1320px;
  margin: 0 auto;

  .cards-slider__post-wrapper {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;

    .slick-slider {
      touch-action: auto;
      -ms-touch-action: auto;
    }
  }

  .cards-slider__items {
    margin: 0 10px;
    display: inline-block;
  }

  @include respond(iphoneX) {
    display: block;
    margin: 2rem auto;
  }

  @include respond(bp-smallest) {
    display: block;
    margin-top: 3rem;
  }
}
