.slider {
  max-width: 1320px;
  margin: 10rem auto;

  @include respond(bp-between-largest-large) {
    margin: 0 auto 5rem auto;
  }
}

.post-slider {
  position: relative;

  .post-wrapper {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
  }

  .prev {
    font-size: 2rem;
    position: absolute;
    top: 25%;
    left: 65px;
    cursor: pointer;
  }

  .next {
    font-size: 2rem;
    position: absolute;
    top: 25%;
    right: 65px;
    cursor: pointer;
  }
}

.post {
  margin: 0 10px;
  display: inline-block;
}

.slick-slide {
  width: 9rem;
  padding-left: 1.4rem;
}
