.globo-play {
  grid-column: full-start/full-end;
  display: grid;
  margin: 2.5rem 0 1.2rem 0;

  &__header {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;

      h3 {
        font-size: 1.5rem;
        margin-left: 3.5rem;
      }
    }

    &--link {
      color: var(--color-blue);
      font-size: 3rem;
    }

    &--button {
      background-color: var(--color-blue);
      font-size: 1.5rem;
      padding: 2rem 3rem;
      border-radius: 3px;
      color: var(--color-grey-light-1);
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  max-width: 1320px;
  margin: 0 auto;
  grid-column-gap: 1rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem; /* Firefox */
  position: relative;
  height: 38rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s;

    img {
      width: 100%;
      border-radius: 3px;
    }

    &--back {
      transform: rotateY(180deg);

      img {
        opacity: 0.1;
        border-radius: 3px;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
    cursor: pointer;
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }

  &__info {
    margin-bottom: 6rem;
    text-transform: uppercase;

    &--only,
    &--price {
      color: var(--color-blue);
    }

    &--only {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    &--price {
      font-size: 4.5rem;
    }

    &--btn,
    &:link,
    &:visited {
      font-size: 1.4rem;
      color: white;
      background-color: var(--color-blue);
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block; /* set the button as a block in another line.  */
      border-radius: 10rem;
      position: relative; /* To set the after behind the button. */
      transition: all 0.2s; /* Set the after transition. */

      //Change for the <button> element
      border: none;
      cursor: pointer;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black, 0.2);

        &::after {
          transform: scaleX(1.4) scaleY(1.6); /* Increase the element. */
          opacity: 0; /* Hide the 'transform' after it is executed. */
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
      }
    }
  }
}
