%before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #909090;
  display: inline-block;
  border-radius: 100rem;
  margin-bottom: 0.1rem;
  margin-right: 0.4rem;
}

%hover {
  cursor: pointer;
  filter: brightness(140%);
}

.left-top {
  grid-column: full-start/col-start 6;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: auto;

  @include respond(bp-smallest) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-small-smallest) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-medium-small) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-large-medium) {
    grid-column: full-start/full-end;
  }

  &--first-box {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 3.5rem;

    @include respond(bp-smallest) {
      font-size: 1.8rem;
      text-align: center;
    }

    @include respond(bp-small-smallest) {
      font-size: 2.2rem;
      text-align: center;
    }

    @include respond(bp-medium-small) {
      font-size: 2.2rem;
      text-align: center;
    }

    @include respond(bp-large-medium) {
      font-size: 3rem;
    }

    @include respond(bp-between-largest-large) {
      font-size: 2.5rem;
    }

    & > * {
      margin-bottom: 2.5rem;
      color: var(--color-red-text);

      &:hover {
        @extend %hover;
      }
    }

    p::before {
      content: "";
      width: 5px;
      height: 5px;
      background-color: #909090;
      display: inline-block;
      border-radius: 100rem;
      margin-bottom: 0.5rem;
      margin-right: 0.8rem;
    }
  }

  &--second-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--color-red-text);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1rem;

    @include respond(bp-smallest) {
      text-align: center;
      font-size: 1rem;
    }

    @include respond(bp-small-smallest) {
      text-align: center;
      font-size: 1.3rem;
    }

    @include respond(bp-medium-small) {
      text-align: center;
      font-size: 1.3rem;
    }

    @include respond(bp-large-medium) {
      grid-template-columns: 1fr;
      grid-row-gap: 2rem;
      font-size: 1.6rem;
    }

    p:hover {
      @extend %hover;
    }

    p::before {
      @extend %before;
    }
  }

  &--third-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    grid-column-gap: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include respond(bp-smallest) {
      grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
    }

    @include respond(bp-small-smallest) {
      grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    }

    @include respond(bp-large-medium) {
      grid-template-columns: repeat(auto-fit, minmax(27rem, auto));
    }

    @include respond(bp-between-largest-large) {
      grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
    }

    img {
      width: 100%;
      border-radius: 4px;
      transition: all 1s ease;

      @include respond(bp-smallest) {
        height: 8rem;
      }

      @include respond(bp-small-smallest) {
        height: 10rem;
      }

      @include respond(bp-large-medium) {
        height: 15rem;
      }
    }

    h4 {
      color: var(--color-red-text);
      font-size: 18px;
      margin-bottom: 1.5rem;
      height: 5rem;

      @include respond(bp-smallest) {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 1.2rem;
        height: 2rem;
      }

      @include respond(bp-small-smallest) {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        height: 2.5rem;
      }

      @include respond(bp-medium-small) {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
      }

      @include respond(bp-large-medium) {
        margin-bottom: 1rem;
        padding: 0 1rem;
        text-align: center;
      }
    }

    &-boxes:hover {
      img {
        filter: brightness(70%);
      }

      h4 {
        @extend %hover;
      }
    }

    p {
      color: var(--color-red-text);
      font-size: 14px;

      @include respond(bp-smallest) {
        text-align: center;
        font-size: 0.9rem;
      }

      @include respond(bp-small-smallest) {
        text-align: center;
        font-size: 1.1rem;
      }

      @include respond(bp-medium-small) {
        text-align: center;
        font-size: 1.3rem;
      }

      @include respond(bp-large-medium) {
        text-align: center;
      }

      &:hover {
        @extend %hover;
      }

      &::before {
        @extend %before;
      }
    }
  }
}
