.left-top {
  grid-column: full-start/col-start 6;
  display: grid;
  grid-template-columns: auto;
  padding-right: 1rem;
  color: var(--color-red-text);

  .left-top__top {
    display: grid;
    grid-template-columns: 1fr;

    .left-top__h1 {
      font-size: 5.3rem;

      &:hover {
        @extend %hover;
      }

      @include respond(iphoneX) {
        margin-bottom: 1rem;
        font-size: 2rem;
      }
    }

    .left-top__p {
      font-size: 3rem;
      margin-top: 5px;

      &:hover {
        @extend %hover;
      }

      &::before {
        @extend %before;
        bottom: 7px;
      }

      @include respond(iphoneX) {
        margin-bottom: 0;
        font-size: 2rem;
      }
    }

    @include respond(iphoneX) {
      padding: 1rem;
    }

    @include respond(bp-smallest) {
      font-size: 1.8rem;
      text-align: center;
    }

    @include respond(bp-small-smallest) {
      font-size: 2.2rem;
      text-align: center;
    }

    @include respond(bp-medium-small) {
      font-size: 2.2rem;
      text-align: center;
    }

    @include respond(bp-large-medium) {
      font-size: 3rem;
    }

    @include respond(bp-between-largest-large) {
      font-size: 2.5rem;
    }
  }

  .left-top__middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    .left-top__p {
      font-size: 14px;
      font-weight: bold;

      &:hover {
        @extend %hover;
      }
    }

    .left-top__p::before {
      @extend %before;
    }

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      display: none;
    }

    @include respond(bp-small-smallest) {
      text-align: center;
      font-size: 1.3rem;
    }

    @include respond(bp-medium-small) {
      text-align: center;
      font-size: 1.3rem;
    }

    @include respond(bp-large-medium) {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      font-size: 1.6rem;
    }
  }

  .left-top__bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    grid-column-gap: 5px;
    align-items: center;

    .left-top__boxes {
      display: flex;
      flex-direction: column;
      align-items: center;

      .left-top__img-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .left-top__img {
          border-radius: 4px;
          transition: all 1s ease;

          &:hover {
            filter: brightness(70%);
          }

          @include respond(iphoneX) {
            height: 11rem;
            width: 50%;
          }

          @include respond(bp-smallest) {
            height: 8rem;
          }
        }

        .left-top__h4 {
          height: 6rem;
          text-align: initial;
          padding: 0 1.4rem;
          font-size: 1.8rem;

          @include respond(iphoneX) {
            margin-bottom: 0;
            align-self: center;
            margin-left: 1rem;
            height: 6rem;
          }

          @include respond(bp-smallest) {
            text-align: center;
            font-size: 1rem;
            margin-bottom: 1.2rem;
            height: 2rem;
          }

          @include respond(bp-small-smallest) {
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            height: 2.5rem;
          }

          @include respond(bp-medium-small) {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 0.8rem;
          }

          @include respond(bp-large-medium) {
            margin-bottom: 1rem;
            padding: 0 1rem;
            text-align: center;
          }
        }

        &:hover {
          .left-top__img {
            filter: brightness(70%);
          }

          .left-top__h4 {
            @extend %hover;
          }
        }
      }

      .left-top__bottom-p {
        font-size: 1.4rem;
        padding: 0 1.4rem;
        margin-top: 1rem;

        &:hover {
          @extend %hover;
        }

        &::before {
          @extend %before;
        }

        @include respond(iphoneX) {
          display: none;
        }

        @include respond(bp-smallest) {
          text-align: center;
          font-size: 0.9rem;
        }

        @include respond(bp-small-smallest) {
          text-align: center;
          font-size: 1.1rem;
        }

        @include respond(bp-medium-small) {
          text-align: center;
          font-size: 1.3rem;
        }

        @include respond(bp-large-medium) {
          text-align: center;
          margin-top: 0;
        }
      }

      @include respond(iphoneX) {
        display: flex;
        padding: 1rem;
      }
    }

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      display: none;
    }

    @include respond(bp-small-smallest) {
      grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    }

    @include respond(bp-large-medium) {
      grid-template-columns: repeat(auto-fit, minmax(27rem, auto));
    }

    @include respond(bp-between-largest-large) {
      grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
    }
  }

  @include respond(iphoneX) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-smallest) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-small-smallest) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-medium-small) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-large-medium) {
    grid-column: full-start/full-end;
  }
}
