.grid-container {
  display: grid;
  grid-template-rows: 30vh 80vh 50vh 115vh 35vh 60vh 55vh 50vh 35vh 100vh 50vh 50vh 20vh;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 8rem)) 1fr;
  grid-row-gap: 3rem;
  justify-content: center;

  .bg-red-first {
    border: 1px solid black;
    grid-column: 2 / 11;
    background-image: url(../../../dist/minified/assets/advertisement.jpg);
    background-size: cover;
    background-position: center;
  }

  &__left-top {
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;

    &--first-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      width: 100%;
    }

    &--second-box {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &--third-box {
      display: flex;

      img {
        width: 100%;
      }
    }
  }

  &__right-top {
    border: 1px solid var(--color-gray);
    grid-column: 6 / 12;
    display: flex;
  }

  &__first-top {
    display: flex;
    flex-direction: column;
  }

  &__second-top {
    display: flex;
    flex-direction: column;
  }

  &__news {
    width: 2rem;
  }

  .bg-red-fourth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-blue-fifth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-yellow-sixth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-red-seventh {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-blue-eighth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-yellow-nineth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-red-tenth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-blue-eleventh {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-yellow-twelveth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-yellow-thirth {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }

  .bg-corousel {
    border: 1px solid var(--color-gray);
    grid-column: full-start / full-end;
  }
}
