.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;

  .navbar--left {
    display: flex;

    .navbar__logo {
      align-self: center;
      margin-right: 2.5rem;
      height: 5rem;

      @include respond(iphoneX) {
        display: none;
      }

      @include respond(bp-smallest) {
        margin-right: 1.5rem;
        height: 2rem;
      }

      @include respond(bp-small-smallest) {
        margin-right: 1rem;
        height: 2.5rem;
      }

      @include respond(bp-medium-small) {
        margin-right: 1rem;
        height: 3.1rem;
      }

      @include respond(bp-large-medium) {
        margin-right: 1.8rem;
        height: 3.3rem;
      }

      @include respond(bp-between-largest-large) {
        margin-right: 2rem;
        height: 3.5rem;
      }
    }

    .navbar__menu {
      display: flex;
      align-items: center;
      margin-left: 2rem;

      @include respond(iphoneX) {
        display: none;
      }

      .navbar__li {
        font-family: var(--font-primary);
        padding: 0 1rem;
        font-size: 1.8rem;

        @include respond(iphoneX) {
          font-size: 1.8rem;
        }

        @include respond(bp-smallest) {
          font-size: 1.5rem;
          padding: 0 1rem;
        }

        @include respond(bp-small-smallest) {
          font-size: 1.5rem;
          padding: 0 0.5rem;
        }

        @include respond(bp-medium-small) {
          font-size: 1.5rem;
          padding: 0 0.5rem;
        }

        @include respond(bp-large-medium) {
          padding: 0 10px;
        }

        .navbar__link {
          display: flex;
          position: relative;

          .navbar__icon {
            height: 2rem;
            width: 2rem;
            align-self: flex-end;

            &--red {
              fill: var(--color-red);
            }

            &--green {
              fill: var(--color-green);
            }

            &--orange {
              fill: var(--color-orange);
            }

            &--blue {
              fill: var(--color-blue);
            }

            @include respond(iphoneX) {
              display: none;
            }

            @include respond(ipad-pro) {
              display: block;
            }

            @include respond(bp-smallest) {
              display: none;
            }
            @include respond(bp-small-smallest) {
              display: none;
            }
            @include respond(bp-medium-small) {
              display: none;
            }
            @include respond(bp-large-medium) {
              display: none;
            }
          }
        }
      }
    }
  }

  .navbar--right {
    display: flex;
    align-items: center;

    .navbar__menu-item {
      color: var(--color-gray);
      font-family: var(--font-secondary);
      text-transform: uppercase;
      font-size: 11px;
      width: 80px;
      text-align: center;

      &:not(:first-child) {
        @include respond(bp-small-smallest) {
          display: none;
          width: 0;
        }

        @include respond(bp-medium-small) {
          display: none;
          width: 0;
        }

        @include respond(bp-large-medium) {
          display: none;
          width: 0;
        }

        @include respond(bp-between-largest-large) {
          display: none;
          width: 0;
        }
      }

      @include respond(bp-between-largest-large) {
        font-size: 10px;
      }

      .navbar__account {
        color: var(--color-gray);
      }
    }

    .navbar__menu-item--dropdown {
      position: relative;
      display: inline-block;

      .navbar__email {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-gray);

        .navbar__dropdown-svg {
          height: 2rem;
          width: 2rem;
          fill: var(--color-gray);
        }
      }

      /* EMAIL DROPDOWN */
      .navbar__email-dropdown {
        display: none;
        background-color: #f1f1f1;
        box-shadow: -1px -3px 16px 5px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 28px;
        min-width: 160px;
        z-index: 99999;

        &::before {
          content: "";
          position: absolute;
          right: 130px;
          top: -10px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #f1f1f1 transparent;
          z-index: 9999;
        }

        .navbar__email-item {
          position: relative;
          padding: 12px 16px;
          display: block;

          &:not(:last-child) {
            margin-bottom: 1.5px;
          }
        }

        .navbar__email-item::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 5px;
          background-color: var(--color-blue);
          transform: scaleY(0);
          transition: transform 0.8s;
        }

        .navbar__email-item:hover::before {
          transform: scaleY(1);
        }

        .navbar__email-a {
          color: var(--color-gray);
        }

        .navbar__email-item:hover .navbar__email-a {
          color: var(--color-blue);
        }
      }

      &:hover .navbar__email-dropdown {
        display: block;
      }
    }

    .navbar__input {
      display: flex;
      align-items: center;
      position: relative;
      height: 3.3rem;
      border-radius: 3px;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 7px 0 7px 4rem;
      transition: all 0.3s;

      @include respond(bp-smallest) {
        display: none;
      }

      .navbar__svg {
        position: absolute;
        left: 1.2rem;
        top: 6px;
        background: url(../../../dist/minified/assets/SVG/lupa.svg) no-repeat
          right 0 top 3px;
        background-size: 1.5rem;
        width: 1.6rem;
        height: 2rem;
        transition: all 0.3s;

        @include respond(bp-between-largest-large) {
          background-size: 12px;
        }
      }

      .navbar__placeholder {
        border: none;
        width: 250px;
        font-size: 1.3rem;
        transition: all 0.2s;

        @include respond(bp-small-smallest) {
          width: 120px;
        }

        &:focus {
          outline: none;
          width: 280px;

          @include respond(bp-small-smallest) {
            width: 120px;
          }

          @include respond(bp-medium-small) {
            width: 250px;
          }

          @include respond(bp-large-medium) {
            width: 270px;
          }
        }
      }
    }

    .navbar__user-icon {
      height: 2.5rem;
      width: 2.5rem;
      margin: 5px;

      @include respond(bp-small-smallest) {
        margin: 0 0 6px 8px;
      }
    }

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      display: none;
    }
  }

  @include respond(bp-smallest) {
    padding: 1rem;
    justify-content: center;
  }

  @include respond(bp-small-smallest) {
    padding: 1rem;
  }

  @include respond(bp-between-largest-large) {
    padding: 1rem 0;
  }
}
