.navbar-mobile {
  margin: 0 auto;
  display: none; // for desktops

  @include respond(iphone6to8P) {
    display: flex;
  }

  @include respond(iphoneX) {
    display: flex;
  }

  &__menu {
    left: 0;
  }

  &__subSidebar {
    right: 172px;
  }

  &__menu,
  &__subSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--color-grey-light-1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    &--close {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    &--open {
      display: none;

      @include respond(iphone6to8P) {
        display: block;
        position: absolute;
        top: 2.1rem;
        left: 2rem;
        font-size: 2rem;
        color: var(--color-blue);
      }

      @include respond(iphoneX) {
        display: block;
        position: absolute;
        top: 2.1rem;
        left: 2rem;
        font-size: 2rem;
        color: var(--color-blue);
      }
    }
  }

  &__logo-horizontal {
    display: none;

    @include respond(iphone6to8P) {
      display: block;
      margin: 0 8rem 0 10rem;
    }

    @include respond(iphoneX) {
      display: block;
      margin: 0 8rem 0 10rem;
    }
  }

  &__icon {
    display: none;

    @include respond(iphone6to8P) {
      display: block;
      height: 2rem;
      width: 2rem;
      fill: var(--color-blue);
    }

    @include respond(iphoneX) {
      display: block;
      height: 2rem;
      width: 2rem;
      fill: var(--color-blue);
    }
  }

  // MENU
  &__logos {
    display: flex;
    justify-content: space-around;
    margin: 1rem;

    img {
      height: 4rem;
      width: 4rem;
      border-radius: 8px;
    }
  }

  &__links {
    margin-top: 2rem;

    a {
      padding: 8px 8px 8px 1rem;
      text-decoration: none;
      font-size: 2rem;
      color: #818181;
      display: block;
      transition: 0.3s;

      &:hover {
        color: #f1f1f1;
      }
    }
  }
}
