/* DROPDOWN - FIRST COLUMN */
%dropdown {
  padding: 2rem 0rem;
  border-right: 1px solid var(--color-grey-dark-2);
  font-family: var(--font-primary);
  font-size: 1.5rem;
  width: 21rem;
}

/* li OF FIRST COLUMN */
%li {
  position: relative;
  padding: 0.5rem 0;
  cursor: pointer;
}

/* ACTIVE ITEM - li */
%active {
  border-top: 0.1px solid var(--color-grey-dark-2);
  border-bottom: 0.1px solid var(--color-grey-dark-2);
  border-right: none;
  background-color: var(--color-gray-light-5);

  a {
    padding-left: -5px;
    filter: brightness(115%);
  }

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    border-style: solid;
  }

  /* this border color controlls the outside, thin border */
  &:before {
    top: 0;
    border-color: transparent transparent transparent var(--color-grey-dark-2);
    border-width: 15px;
  }

  /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
  &:after {
    top: 1.4px;
    border-color: transparent transparent transparent var(--color-gray-light-5);
    border-width: 14px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;

  @include respond(iphone6to8P) {
    margin: 1.2rem;
  }

  @include respond(bp-smallest) {
    padding: 1rem;
    justify-content: center;
  }

  @include respond(bp-small-smallest) {
    padding: 1rem;
  }

  @include respond(bp-between-largest-large) {
    padding: 1rem 0;
  }

  /* NAVBAR LEFT */
  &__logo {
    align-self: center;
    margin-right: 2.5rem;

    @include respond(iphone6to8P) {
      display: none;
    }

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      margin-right: 1.5rem;
    }

    @include respond(bp-small-smallest) {
      margin-right: 1rem;
    }

    @include respond(bp-medium-small) {
      margin-right: 1rem;
    }

    @include respond(bp-large-medium) {
      margin-right: 1.8rem;
    }

    @include respond(bp-between-largest-large) {
      margin-right: 2rem;
    }
  }

  &__logo img {
    height: 5rem;

    @include respond(bp-smallest) {
      height: 2rem;
    }

    @include respond(bp-small-smallest) {
      height: 2.5rem;
    }

    @include respond(bp-medium-small) {
      height: 3.1rem;
    }

    @include respond(bp-large-medium) {
      height: 3.3rem;
    }

    @include respond(bp-between-largest-large) {
      height: 3.5rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    @include respond(iphone6to8P) {
      display: none;
    }

    @include respond(iphoneX) {
      display: none;
    }
  }

  &__link {
    font-family: var(--font-primary);
    font-size: 1.8rem;
    padding: 0 1rem;
    display: flex;
    position: relative;

    @include respond(iphoneX) {
      font-size: 1.8rem;
    }

    @include respond(bp-smallest) {
      font-size: 1.5rem;
      padding: 0 1rem;
    }

    @include respond(bp-small-smallest) {
      font-size: 1.5rem;
      padding: 0 0.5rem;
    }

    @include respond(bp-medium-small) {
      font-size: 1.5rem;
      padding: 0 0.5rem;
    }

    @include respond(bp-large-medium) {
      padding: 0 10px;
    }
  }

  &__link.open + &__dropdown {
    display: initial;
  }

  &__icon {
    @include respond(iphoneX) {
      display: none;
    }

    @include respond(ipad-pro) {
      display: block;
    }

    @include respond(bp-smallest) {
      display: none;
    }
    @include respond(bp-small-smallest) {
      display: none;
    }
    @include respond(bp-medium-small) {
      display: none;
    }
    @include respond(bp-large-medium) {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    background-color: #faf9f9;
    display: none;

    /* G1 DROPDOWN */
    /* FIRST COLUMN */
    .g1-list {
      @extend %dropdown;

      .active-item {
        border-left: 5px solid var(--color-red);
        @extend %active;
      }

      li {
        @extend %li;
      }

      li:hover {
        border-left: 5px solid var(--color-red);
        @extend %active;
      }

      a {
        margin-left: 1.5rem;
        color: var(--color-red-text);
        padding: 5px;
      }
    }
    /* FIRST COLUMN ENDS */

    /* SECOND COLUMN */
    .g1-links {
      font-family: var(--font-primary);
      font-size: 1.1rem;
      border-right: 1px solid var(--color-grey-dark-2);
      width: 15rem;
      margin-left: 2rem;
      padding: 2rem 0rem;
      height: 40rem;

      li:not(:first-child) {
        margin-bottom: 0.5rem;
      }

      li:last-child {
        margin-bottom: 0;
      }

      a {
        color: var(--color-red-text);

        &:hover {
          text-decoration: underline var(--color-red-text);
          filter: brightness(115%);
        }
      }
    }
    /* SECOND COLUMN ENDS */

    /* THIRD COLUMN */
    .g1-states {
      padding: 2rem;
      background-color: var(--color-gray-light-5);
    }

    .states-grid {
      display: grid;
      grid-template-columns: repeat(5, 4rem);
      grid-row-gap: 1.3rem;
    }

    .states {
      perspective: 150rem;
      -moz-perspective: 150rem; /* Firefox */
      position: relative;
      height: 2rem;
      width: 3rem;

      &:hover .states__side--front {
        transform: rotateY(-180deg);
        cursor: pointer;
      }

      &:hover .states__side--back {
        transform: rotateY(0deg);
      }

      &__side {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.2s;

        img {
          border-radius: 2px;
        }

        &--front {
          height: 2rem;
          width: 3rem;
          cursor: pointer;
        }

        &--back {
          background-color: white;
          transform: rotateY(180deg);
          height: 2rem;
          width: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          cursor: pointer;

          p {
            font-weight: bold;
            font-size: 1.3rem;
          }
        }
      }
    }
    /* THIRD COLUMN */
    /* G1 DROPDOWN ENDS */

    /* GE DROPDOWN */
    .ge-list {
      @extend %dropdown;

      .active-item2 {
        border-left: 5px solid var(--color-green);
        @extend %active;
      }

      li {
        @extend %li;
      }

      li:hover {
        border-left: 5px solid var(--color-green);
        @extend %active;
      }

      a {
        margin-left: 1.5rem;
        color: var(--color-green-text);
        padding: 5px;
      }
    }

    /* SECOND COLUMN */
    .ge-links {
      font-family: var(--font-primary);
      font-size: 1.1rem;
      border-right: 1px solid var(--color-grey-dark-2);
      width: 15rem;
      margin-left: 2rem;
      padding: 2rem 0rem;
      height: 40rem;

      li:not(:first-child) {
        margin-bottom: 0.5rem;
      }

      li:last-child {
        margin-bottom: 0;
      }

      a {
        color: var(--color-green-text);

        &:hover {
          text-decoration: underline var(--color-green-text);
          filter: brightness(115%);
        }
      }
    }
    /* SECOND COLUMN ENDS */

    /* THIRD COLUMN - TEAMS */
    .ge-teams {
      padding: 2rem;
      background-color: var(--color-gray-light-5);
      width: 21rem;

      .buttons {
        justify-content: center;
        justify-content: space-around;
        margin-bottom: 1.2rem;

        .active {
          background-color: #ccc;
          outline: none;
          border-radius: 3px;
          color: white;
        }

        button {
          cursor: pointer;
          padding: 3px 1.5rem;

          &:focus {
            outline: none;
          }

          &:hover {
            background-color: #ccc;
            border-radius: 3px;
          }
        }
      }
    }

    .teams__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      img {
        padding: 5px;
      }

      img:hover {
        background-color: #ccc;
        border-radius: 5px;
      }
    }
    /* THIRD COLUMN - TEAMS ENDS */
    /* GE DROPDOWN ENDS */

    /* GSHOW DROPDDOWN */
    /* FIRST COLUMN */
    .gshow-list {
      @extend %dropdown;

      .active-item3 {
        border-left: 5px solid var(--color-orange);
        @extend %active;
      }

      li {
        @extend %li;
      }

      li:hover {
        border-left: 5px solid var(--color-orange);
        @extend %active;
      }

      a {
        margin-left: 1.5rem;
        color: var(--color-orange-text);
        padding: 5px;
      }
    }

    /* SECOND COLUMN */
    .gshow-links {
      font-family: var(--font-primary);
      font-size: 1.1rem;
      border-right: 1px solid var(--color-grey-dark-2);
      width: 15rem;
      margin-left: 2rem;
      padding: 2rem 0rem;

      li:not(:first-child) {
        margin-bottom: 0.5rem;
      }

      li:last-child {
        margin-bottom: 0;
      }

      a {
        color: var(--color-orange-text);

        &:hover {
          text-decoration: underline var(--color-orange-text);
          filter: brightness(115%);
        }
      }
    }

    /* THIRD COLUMN */
    .gshow-series {
      padding: 2rem 0rem;
      background-color: var(--color-gray-light-5);
      padding-left: 2rem;
      width: 21rem;

      a {
        display: flex;

        &:hover {
          img {
            outline: 3.5px solid var(--color-orange-text);
            outline-offset: -3px;
          }

          .name {
            text-decoration: underline var(--color-orange-text);
            filter: brightness(115%);
          }
        }

        .name {
          align-self: center;
          color: var(--color-orange-text);
          margin-left: 1rem;
        }
      }
    }
    /* GSHOW DROPDDOWN ENDS */

    /* VIDEOS DROPDDOWN */
    &--videos {
      background-color: #f1f1f1;
      border-radius: 3px;
      box-shadow: -1px -3px 16px 5px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 7rem;
      min-width: 160px;
      z-index: 99999;

      &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #f1f1f1 transparent;
        z-index: 9999;
      }

      li {
        position: relative;
        font-family: var(--font-primary);
        padding: 2.5rem 8rem 2.5rem 2rem;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 5px;
          background-color: var(--color-blue);
          transform: scaleY(0);
          transition: transform 0.8s;
        }

        &:hover::before {
          transform: scaleY(1);
        }

        a {
          font-size: 1.5rem;
          color: var(--color-blue);
        }
      }
    }
    /* VIDEOS DROPDDOWN ENDS */
  }

  /* LEFT MENU - CONTAINER DROPDOWN */
  .container-dropdown {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: -1px -3px 16px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 7rem;
    min-width: 160px;
    z-index: 99999;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #f1f1f1 transparent;
      z-index: 9999;
    }
  }
  /* LEFT MENU - CONTAINER DROPDOWN ENDS */

  &__icon {
    height: 2rem;
    width: 2rem;
    align-self: flex-end;

    &--red {
      fill: var(--color-red);
    }

    &--green {
      fill: var(--color-green);
    }

    &--orange {
      fill: var(--color-orange);
    }

    &--blue {
      fill: var(--color-blue);
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu-item {
    color: var(--color-gray);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 11px;
    width: 80px;
    text-align: center;

    &:not(:first-child) {
      @include respond(bp-small-smallest) {
        display: none;
        width: 0;
      }

      @include respond(bp-medium-small) {
        display: none;
        width: 0;
      }

      @include respond(bp-large-medium) {
        display: none;
        width: 0;
      }

      @include respond(bp-between-largest-large) {
        display: none;
        width: 0;
      }
    }

    @include respond(bp-between-largest-large) {
      font-size: 10px;
    }
  }

  &__menu-item a {
    color: var(--color-gray);
  }

  &__menu-item--dropdown {
    position: relative;
    display: inline-block;
  }

  &__menu-item--dropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon--btn-hover {
    height: 2rem;
    width: 2rem;
    fill: var(--color-gray);
  }
  /* NAVBAR LEFT ENDS */

  /* NAVBAR RIGHT */
  &__right {
    display: flex;
    flex: 0 0 25%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      display: none;
    }
  }

  /* EMAIL DROPDOWN */
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    box-shadow: -1px -3px 16px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 28px;
    min-width: 160px;
    z-index: 99999;

    &::before {
      content: "";
      position: absolute;
      right: 130px;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #f1f1f1 transparent;
      z-index: 9999;
    }

    &__item {
      position: relative;
      padding: 12px 16px;
      display: block;

      &:not(:last-child) {
        margin-bottom: 1.5px;
      }
    }

    &__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: var(--color-blue);
      transform: scaleY(0);
      transition: transform 0.8s;
    }

    &__item:hover::before {
      transform: scaleY(1);
    }

    &__item:hover a {
      color: var(--color-blue);
    }
  }

  &__menu-item--dropdown:hover .dropdown-content {
    display: block;
  }
  /* EMAIL DROPDOWN ENDS */

  &__input {
    display: flex;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 7px 0 7px 40px;
    position: relative;
    transition: all 0.3s;
    top: -4px;
    z-index: 120;

    @include respond(bp-smallest) {
      display: none;
    }
  }

  &__label {
    position: absolute;
    background: url("../../../dist/minified/assets/SVG/lupa.svg") no-repeat
      right 0 top 3px;
    background-size: 15px;
    border: 0;
    width: 16px;
    left: 12px;
    top: 9px;
    height: 20px;
    transition: all 0.3s;

    @include respond(bp-between-largest-large) {
      background-size: 12px;
    }
  }

  &__placeholder {
    justify-content: flex-end;
    font-size: 13px;
    border: none;
    padding: 0.4rem 0rem;
    border-radius: 2px;
    width: 250px;
    transition: all 0.2s;

    @include respond(bp-small-smallest) {
      width: 120px;
    }

    &:focus {
      outline: none;
      width: 280px;

      @include respond(bp-small-smallest) {
        width: 120px;
      }

      @include respond(bp-medium-small) {
        width: 250px;
      }
    }
  }

  &__icon-login {
    margin: 0 0 6px 15px;

    @include respond(bp-small-smallest) {
      margin: 0 0 6px 8px;
    }
  }

  &__user-icon {
    height: 2.5rem;
    width: 2.5rem;

    @include respond(bp-small-smallest) {
      width: 1.8rem;
    }

    @include respond(bp-between-largest-large) {
      width: 2rem;
    }
  }
}
/* NAVBAR RIGHT ENDS */

// #navbar__menu {
//   display: flex;
//   align-items: center;
// }
