/* DROPDOWN - FIRST COLUMN */
%dropdown {
  padding: 2rem 0rem;
  border-right: 1px solid var(--color-grey-dark-2);
  font-family: var(--font-primary);
  font-size: 1.5rem;
  width: 21rem;
}

/* li OF FIRST COLUMN */
%li {
  position: relative;
  padding: 0.5rem 0;
}

/* ACTIVE ITEM - li */
%active {
  border-top: 0.1px solid var(--color-grey-dark-2);
  border-bottom: 0.1px solid var(--color-grey-dark-2);
  border-right: none;
  background-color: var(--color-gray-light-5);

  a {
    padding-left: -5px;
    filter: brightness(115%);
  }

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    border-style: solid;
  }

  /* this border color controlls the outside, thin border */
  &:before {
    top: 0;
    border-color: transparent transparent transparent var(--color-grey-dark-2);
    border-width: 15px;
  }

  /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
  &:after {
    top: 1.4px;
    border-color: transparent transparent transparent var(--color-gray-light-5);
    border-width: 14px;
  }
}

.navbar__dropdown {
  display: none;
  position: absolute;
  top: 7rem;
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: -1px -3px 16px 5px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 99999;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f1f1f1 transparent;
    // z-index: 9999;
  }

  /* G1 DROPDOWN */
  /* FIRST COLUMN */
  .navbar__g1-list {
    @extend %dropdown;

    .navbar__g1-ul {
      cursor: pointer;

      .active-item {
        border-left: 5px solid var(--color-red);
        @extend %active;
      }

      .navbar__g1-li {
        @extend %li;

        &:hover {
          border-left: 5px solid var(--color-red);
          @extend %active;
        }
      }

      .navbar__g1-item {
        margin-left: 1.5rem;
        color: var(--color-red-text);
        padding: 5px;
      }
    }
  }

  /* SECOND COLUMN */
  .navbar__g1-links {
    border-right: 1px solid var(--color-grey-dark-2);
    width: 15rem;
    height: 40rem;
    font-family: var(--font-primary);
    font-size: 1.1rem;

    .navbar__links-ul {
      margin-left: 2rem;
      padding: 2rem 0rem;

      .navbar__links-li:not(:first-child) {
        margin-bottom: 0.5rem;
      }

      .navbar__glinks-li:last-child {
        margin-bottom: 0;
      }

      .navbar__links-item {
        color: var(--color-red-text);

        &:hover {
          text-decoration: underline var(--color-red-text);
          filter: brightness(115%);
        }
      }
    }
  }

  /* THIRD COLUMN */
  .navbar__g1-states {
    padding: 2rem;
    background-color: var(--color-gray-light-5);

    .navbar__states-container {
      display: grid;
      grid-template-columns: repeat(5, 4rem);
      grid-row-gap: 1.3rem;

      .navbar__state {
        perspective: 150rem;
        -moz-perspective: 150rem; /* Firefox */
        position: relative;
        height: 2rem;
        width: 3rem;

        &:hover .navbar__state-side--front {
          transform: rotateY(-180deg);
          cursor: pointer;
        }

        &:hover .navbar__state-side--back {
          transform: rotateY(0deg);
        }

        .navbar__state-side {
          position: absolute;
          top: 0;
          left: 0;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          transition: all 0.2s;

          .navbar__state-img {
            border-radius: 2px;
          }
        }

        .navbar__state-side--front {
          height: 2rem;
          width: 3rem;
          cursor: pointer;
        }

        .navbar__state-side--back {
          background-color: var(--color-gray-light-5);
          transform: rotateY(180deg);
          height: 2rem;
          width: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          cursor: pointer;
        }
      }
    }
  }
  /* G1 DROPDOWN ENDS */

  /* GE DROPDOWN */
  .ge-list {
    @extend %dropdown;

    .active-item2 {
      border-left: 5px solid var(--color-green);
      @extend %active;
    }

    li {
      @extend %li;
    }

    li:hover {
      border-left: 5px solid var(--color-green);
      @extend %active;
    }

    a {
      margin-left: 1.5rem;
      color: var(--color-green-text);
      padding: 5px;
    }
  }

  /* SECOND COLUMN */
  .ge-links {
    font-family: var(--font-primary);
    font-size: 1.1rem;
    border-right: 1px solid var(--color-grey-dark-2);
    width: 15rem;
    margin-left: 2rem;
    padding: 2rem 0rem;
    height: 40rem;

    li:not(:first-child) {
      margin-bottom: 0.5rem;
    }

    li:last-child {
      margin-bottom: 0;
    }

    a {
      color: var(--color-green-text);

      &:hover {
        text-decoration: underline var(--color-green-text);
        filter: brightness(115%);
      }
    }
  }

  /* THIRD COLUMN - TEAMS */
  .ge-teams {
    padding: 2rem;
    background-color: var(--color-gray-light-5);
    width: 21rem;

    .buttons {
      justify-content: center;
      justify-content: space-around;
      margin-bottom: 1.2rem;

      .active {
        background-color: #ccc;
        outline: none;
        border-radius: 3px;
        color: white;
      }

      button {
        cursor: pointer;
        padding: 3px 1.5rem;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #ccc;
          border-radius: 3px;
        }
      }
    }
  }

  .teams__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    img {
      padding: 5px;
    }

    img:hover {
      background-color: #ccc;
      border-radius: 5px;
    }
  }
  /* GE DROPDOWN ENDS */

  /* GSHOW DROPDDOWN */
  /* FIRST COLUMN */
  .gshow-list {
    @extend %dropdown;

    .active-item3 {
      border-left: 5px solid var(--color-orange);
      @extend %active;
    }

    li {
      @extend %li;
    }

    li:hover {
      border-left: 5px solid var(--color-orange);
      @extend %active;
    }

    a {
      margin-left: 1.5rem;
      color: var(--color-orange-text);
      padding: 5px;
    }
  }

  /* SECOND COLUMN */
  .gshow-links {
    font-family: var(--font-primary);
    font-size: 1.1rem;
    border-right: 1px solid var(--color-grey-dark-2);
    width: 15rem;
    margin-left: 2rem;
    padding: 2rem 0rem;

    li:not(:first-child) {
      margin-bottom: 0.5rem;
    }

    li:last-child {
      margin-bottom: 0;
    }

    a {
      color: var(--color-orange-text);

      &:hover {
        text-decoration: underline var(--color-orange-text);
        filter: brightness(115%);
      }
    }
  }

  /* THIRD COLUMN */
  .gshow-series {
    padding: 2rem 0rem;
    background-color: var(--color-gray-light-5);
    padding-left: 2rem;
    width: 21rem;

    a {
      display: flex;

      &:hover {
        img {
          outline: 3.5px solid var(--color-orange-text);
          outline-offset: -3px;
        }

        .name {
          text-decoration: underline var(--color-orange-text);
          filter: brightness(115%);
        }
      }

      .name {
        align-self: center;
        color: var(--color-orange-text);
        margin-left: 1rem;
      }
    }
  }
  /* GSHOW DROPDDOWN ENDS */

  /* VIDEOS DROPDDOWN */
  &--videos {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: -1px -3px 16px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 7rem;
    min-width: 160px;
    z-index: 99999;

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #f1f1f1 transparent;
      z-index: 9999;
    }

    li {
      position: relative;
      font-family: var(--font-primary);
      padding: 2.5rem 8rem 2.5rem 2rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 5px;
        background-color: var(--color-blue);
        transform: scaleY(0);
        transition: transform 0.8s;
      }

      &:hover::before {
        transform: scaleY(1);
      }

      a {
        font-size: 1.5rem;
        color: var(--color-blue);
      }
    }
  }
}

.navbar__link.open + .navbar__dropdown {
  display: flex;
}

.dropdown-title {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: var(--color-gray);
  margin-bottom: 1.5rem;
}
