.navbar__dropdown {
  display: none;
  position: absolute;
  top: 7rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0px 0px 1rem 1.5rem rgba(0, 0, 0, 0.2);
  min-width: 16rem;
  min-height: 42rem;
  z-index: 99999;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f1f1f1 transparent;
  }

  // MENU - FIRST COLUMN
  .navbar__first-column {
    padding: 2rem 0rem;
    border-right: 1px solid var(--color-grey-dark-2);
    font-family: var(--font-primary);
    font-size: 1.5rem;
    width: 21rem;

    .navbar__first-column-li {
      position: relative;
      padding: 0.5rem 0;
      cursor: pointer;

      &:hover {
        @extend %active;
      }

      .navbar__first-column-item {
        margin-left: 1.5rem;
        padding: 5px;
      }

      // MODIFIER (ANCHOR TXT COLOR)
      .navbar__first-column-item--g1 {
        color: var(--color-red-text);
      }

      .navbar__first-column-item--ge {
        color: var(--color-green-text);
      }

      .navbar__first-column-item--gshow {
        color: var(--color-orange-text);
      }
    }

    // MODIFIER (LI LEFT BORDER)
    .navbar__first-column-li--g1:hover {
      border-left: 5px solid var(--color-red);
    }

    .navbar__first-column-li--ge:hover {
      border-left: 5px solid var(--color-green);
    }

    .navbar__first-column-li--gshow:hover {
      border-left: 5px solid var(--color-orange);
    }
  }

  // ACTIVE ITEM
  .navbar__first-column--g1 .active-item {
    @extend %active;
    border-left: 5px solid var(--color-red);
  }

  .navbar__first-column--ge .active-item {
    @extend %active;
    border-left: 5px solid var(--color-green);
  }

  .navbar__first-column--gshow .active-item {
    @extend %active;
    border-left: 5px solid var(--color-orange);
  }

  // MENU - SECOND COLUMN
  .navbar__second-column {
    font-size: 1.1rem;
    border-right: 1px solid var(--color-grey-dark-2);
    width: 15rem;
    margin-left: 2rem;
    padding: 2rem 0rem;

    .navbar__second-column-li:not(:first-child) {
      margin-bottom: 0.5rem;
    }

    .navbar__second-column-li:last-child {
      margin-bottom: 0;
    }

    .navbar__second-column-item {
      &:hover {
        filter: brightness(115%);
      }
    }

    .navbar__second-column-item--g1 {
      color: var(--color-red-text);

      &:hover {
        text-decoration: underline var(--color-red-text);
      }
    }

    .navbar__second-column-item--ge {
      color: var(--color-green-text);

      &:hover {
        text-decoration: underline var(--color-green-text);
      }
    }

    .navbar__second-column-item--gshow {
      color: var(--color-orange-text);

      &:hover {
        text-decoration: underline var(--color-orange-text);
      }
    }
  }

  // Outside to be used in all dropdowns
  .navbar__title {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: var(--color-gray);
    margin-bottom: 1.5rem;
  }

  /* THIRD COLUMN */
  .navbar__g1-states {
    border-radius: 5px;
    padding: 2rem;
    background-color: var(--color-gray-light-5);

    .navbar__states-container {
      display: grid;
      grid-template-columns: repeat(5, 4rem);
      grid-row-gap: 1.3rem;

      .navbar__state {
        perspective: 150rem;
        -moz-perspective: 150rem; /* Firefox */
        position: relative;
        height: 2rem;
        width: 3rem;

        &:hover .navbar__state-side--front {
          transform: rotateY(-180deg);
          cursor: pointer;
        }

        &:hover .navbar__state-side--back {
          transform: rotateY(0deg);
        }

        .navbar__state-side {
          position: absolute;
          top: 0;
          left: 0;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          transition: all 0.2s;

          .navbar__state-img {
            border-radius: 2px;
          }
        }

        .navbar__state-side--front {
          height: 2rem;
          width: 3rem;
          cursor: pointer;
        }

        .navbar__state-side--back {
          background-color: var(--color-gray-light-5);
          transform: rotateY(180deg);
          height: 2rem;
          width: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          cursor: pointer;
        }
      }
    }
  }

  .navbar__ge-teams {
    border-radius: 5px;
    padding: 2rem;
    background-color: var(--color-gray-light-5);

    .navbar__btn-container {
      justify-content: center;
      justify-content: space-around;
      margin-bottom: 1.2rem;

      .navbar__btn {
        cursor: pointer;
        padding: 3px 1.5rem;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #ccc;
          border-radius: 3px;
        }
      }

      .btn-active {
        background-color: #ccc;
        outline: none;
        border-radius: 3px;
        color: white;
      }
    }

    .navbar__teams-container {
      .navbar__teams {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .navbar__teams-img {
          padding: 5px;

          &:hover {
            background-color: #ccc;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .navbar__gshow-series {
    border-radius: 5px;
    padding: 2rem;
    background-color: var(--color-gray-light-5);

    .navbar__gshow-li {
      margin-bottom: 1rem;

      .navbar__gshow-item {
        display: flex;

        &:hover {
          .navbar__gshow-img {
            outline: 3.5px solid var(--color-orange-text);
            outline-offset: -3px;
          }

          .navbar__gshow-name {
            text-decoration: underline var(--color-orange-text);
            filter: brightness(115%);
          }
        }

        .navbar__gshow-name {
          font-size: 1.2rem;
          align-self: center;
          color: var(--color-orange-text);
          margin-left: 1rem;
        }
      }
    }
  }
}

/* VIDEOS DROPDDOWN */
.navbar__dropdown--videos {
  flex-direction: column;
  min-height: auto;

  .navbar__videos-li {
    position: relative;
    font-family: var(--font-primary);
    padding: 2.5rem 8rem 2.5rem 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: var(--color-blue);
      transform: scaleY(0);
      transition: transform 0.8s;
    }

    &:hover::before {
      transform: scaleY(1);
    }

    .navbar__videos-item {
      font-size: 1.5rem;
      color: var(--color-blue);
    }
  }
}
