.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;

  @include respond(bp-smallest) {
    padding: 1rem;
    justify-content: center;
  }

  @include respond(bp-small-smallest) {
    padding: 1rem;
  }

  @include respond(bp-between-largest-large) {
    padding: 1rem 0;
  }

  .navbar--left {
    display: flex;

    .navbar__logo {
      align-self: center;
      margin-right: 2.5rem;
      height: 5rem;

      @include respond(iphoneX) {
        display: none;
      }

      @include respond(bp-smallest) {
        margin-right: 1.5rem;
        height: 2rem;
      }

      @include respond(bp-small-smallest) {
        margin-right: 1rem;
        height: 2.5rem;
      }

      @include respond(bp-medium-small) {
        margin-right: 1rem;
        height: 3.1rem;
      }

      @include respond(bp-large-medium) {
        margin-right: 1.8rem;
        height: 3.3rem;
      }

      @include respond(bp-between-largest-large) {
        margin-right: 2rem;
        height: 3.5rem;
      }
    }

    .navbar__menu {
      display: flex;
      align-items: center;
      margin-left: 2rem;

      @include respond(iphoneX) {
        display: none;
      }

      .navbar__li {
        font-family: var(--font-primary);
        padding: 0 1rem;
        font-size: 1.8rem;

        @include respond(iphoneX) {
          font-size: 1.8rem;
        }

        @include respond(bp-smallest) {
          font-size: 1.5rem;
          padding: 0 1rem;
        }

        @include respond(bp-small-smallest) {
          font-size: 1.5rem;
          padding: 0 0.5rem;
        }

        @include respond(bp-medium-small) {
          font-size: 1.5rem;
          padding: 0 0.5rem;
        }

        @include respond(bp-large-medium) {
          padding: 0 10px;
        }

        .navbar__link {
          display: flex;
          position: relative;

          .navbar__icon {
            @include respond(iphoneX) {
              display: none;
            }

            @include respond(ipad-pro) {
              display: block;
            }

            @include respond(bp-smallest) {
              display: none;
            }
            @include respond(bp-small-smallest) {
              display: none;
            }
            @include respond(bp-medium-small) {
              display: none;
            }
            @include respond(bp-large-medium) {
              display: none;
            }
          }

          .navbar__icon {
            height: 2rem;
            width: 2rem;
            align-self: flex-end;

            &--red {
              fill: var(--color-red);
            }

            &--green {
              fill: var(--color-green);
            }

            &--orange {
              fill: var(--color-orange);
            }

            &--blue {
              fill: var(--color-blue);
            }
          }
        }
      }
    }
  }

  // NAVBAR RIGHT SIDE

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu-item {
    color: var(--color-gray);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 11px;
    width: 80px;
    text-align: center;

    &:not(:first-child) {
      @include respond(bp-small-smallest) {
        display: none;
        width: 0;
      }

      @include respond(bp-medium-small) {
        display: none;
        width: 0;
      }

      @include respond(bp-large-medium) {
        display: none;
        width: 0;
      }

      @include respond(bp-between-largest-large) {
        display: none;
        width: 0;
      }
    }

    @include respond(bp-between-largest-large) {
      font-size: 10px;
    }
  }

  &__menu-item a {
    color: var(--color-gray);
  }

  &__menu-item--dropdown {
    position: relative;
    display: inline-block;
  }

  &__menu-item--dropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon--btn-hover {
    height: 2rem;
    width: 2rem;
    fill: var(--color-gray);
  }
  /* NAVBAR LEFT ENDS */

  /* NAVBAR RIGHT */
  &__right {
    display: flex;
    flex: 0 0 25%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      display: none;
    }
  }

  /* EMAIL DROPDOWN */
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    box-shadow: -1px -3px 16px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 28px;
    min-width: 160px;
    z-index: 99999;

    &::before {
      content: "";
      position: absolute;
      right: 130px;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #f1f1f1 transparent;
      z-index: 9999;
    }

    &__item {
      position: relative;
      padding: 12px 16px;
      display: block;

      &:not(:last-child) {
        margin-bottom: 1.5px;
      }
    }

    &__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: var(--color-blue);
      transform: scaleY(0);
      transition: transform 0.8s;
    }

    &__item:hover::before {
      transform: scaleY(1);
    }

    &__item:hover a {
      color: var(--color-blue);
    }
  }

  &__menu-item--dropdown:hover .dropdown-content {
    display: block;
  }
  /* EMAIL DROPDOWN ENDS */

  &__input {
    display: flex;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 7px 0 7px 40px;
    position: relative;
    transition: all 0.3s;
    top: -4px;
    z-index: 120;

    @include respond(bp-smallest) {
      display: none;
    }
  }

  &__label {
    position: absolute;
    background: url("../../../dist/minified/assets/SVG/lupa.svg") no-repeat
      right 0 top 3px;
    background-size: 15px;
    border: 0;
    width: 16px;
    left: 12px;
    top: 9px;
    height: 20px;
    transition: all 0.3s;

    @include respond(bp-between-largest-large) {
      background-size: 12px;
    }
  }

  &__placeholder {
    justify-content: flex-end;
    font-size: 13px;
    border: none;
    padding: 0.4rem 0rem;
    border-radius: 2px;
    width: 250px;
    transition: all 0.2s;

    @include respond(bp-small-smallest) {
      width: 120px;
    }

    &:focus {
      outline: none;
      width: 280px;

      @include respond(bp-small-smallest) {
        width: 120px;
      }

      @include respond(bp-medium-small) {
        width: 250px;
      }
    }
  }

  &__icon-login {
    margin: 0 0 6px 15px;

    @include respond(bp-small-smallest) {
      margin: 0 0 6px 8px;
    }
  }

  &__user-icon {
    height: 2.5rem;
    width: 2.5rem;

    @include respond(bp-small-smallest) {
      width: 1.8rem;
    }

    @include respond(bp-between-largest-large) {
      width: 2rem;
    }
  }
}
/* NAVBAR RIGHT ENDS */

// #navbar__menu {
//   display: flex;
//   align-items: center;
// }
