.right-top {
  grid-column: 7 / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 1rem;
  border-left: 1px solid #ccc;

  .right-top__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;

    .right-top__img-contaier {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &:hover {
        .right-top__img {
          filter: brightness(70%);
        }

        .right-top__h4 {
          @extend %hover;
        }
      }

      .right-top__img {
        grid-column: 1/-1;
        border-radius: 4px;
        transition: all 1s ease;
      }

      @include respond(bp-smallest) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 3;

        &:nth-child(1) {
          margin-bottom: 0rem;
        }
      }

      @include respond(bp-small-smallest) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 3;

        &:nth-child(1) {
          margin-bottom: 2.5rem;
        }
      }

      @include respond(bp-medium-small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        order: 3;

        &:nth-child(1) {
          margin-bottom: 2.5rem;
        }
      }

      @include respond(bp-large-medium) {
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(3) {
          margin-top: 3rem;
        }
      }
    }
  }

  .right-top__container--section,
  .right-top__txt--section {
    color: var(--color-green-text);
  }

  .right-top__container--aside,
  .right-top__txt--aside {
    color: var(--color-orange-text);
  }

  // Media Queries
  .right-top__container--section {
    @include respond(bp-smallest) {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    @include respond(bp-small-smallest) {
      display: flex;
      flex-direction: column;
    }

    @include respond(bp-medium-small) {
      display: flex;
      flex-direction: column;
    }

    @include respond(bp-large-medium) {
      display: flex;
      flex-direction: column;
    }
  }

  // Media Queries
  .right-top__container--aside {
    border-left: 1px solid #ccc;

    @include respond(bp-smallest) {
      border-left: none;
    }
  }

  .right-top__p {
    grid-column: 1/-1;
    font-size: 1.4rem;
    margin-top: 1rem;

    &:hover {
      @extend %hover;
    }

    &::before {
      @extend %before;
    }

    @include respond(bp-smallest) {
      width: 20rem;
      font-size: 12px;
      margin-left: 1.5rem;
    }

    @include respond(bp-small-smallest) {
      font-size: 10px;
      margin-left: 1.8rem;
    }

    @include respond(bp-large-medium) {
      font-size: 12px;
      margin-left: 2rem;
    }
  }

  .right-top__h4 {
    font-size: 1.8rem;
    margin-top: 1rem;

    &:hover {
      @extend %hover;
    }

    @include respond(bp-smallest) {
      width: 20rem;
      margin: 1rem;
      font-size: 15px;
    }

    @include respond(bp-small-smallest) {
      margin-left: 1.5rem;
      margin-bottom: 1.3rem;
      font-size: 14px;
    }

    @include respond(bp-large-medium) {
      margin-left: 2rem;
      margin-bottom: 1.5rem;
      font-size: 16px;
    }
  }

  .right-top__txt {
    text-align: center;
    margin: 2rem 0;

    @include respond(bp-smallest) {
      min-height: 5rem;
    }

    @include respond(bp-large-medium) {
      order: 3;
    }
  }

  @include respond(iphoneX) {
    display: none;
  }

  @include respond(bp-smallest) {
    display: none;
  }

  @include respond(bp-small-smallest) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-medium-small) {
    grid-column: full-start/full-end;
  }

  @include respond(bp-large-medium) {
    grid-column: full-start/full-end;
    border-left: none;
  }
}
