.six-news {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-column-gap: 3rem;

  .six-news__container {
    display: flex;
    flex-direction: column;

    .six-news__card {
      display: flex;
      padding: 1rem 0;

      &:hover {
        .six-news__img {
          filter: brightness(70%);
        }

        .six-news__h4 {
          @extend %hover;
        }
      }

      &:not(:last-child) {
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;

        @include respond(iphoneX) {
          border-top: 0;
        }
      }

      &:last-child {
        border-bottom: 2px solid #ccc;
        margin-top: -2px;

        @include respond(bp-smallest) {
        }
        border-bottom: none;
        margin-top: 0;
      }

      .six-news__img {
        border-radius: 4px;
        transition: all 1s ease;

        @include respond(bp-smallest) {
          margin-right: 1rem;
        }

        @include respond(bp-between-largest-large) {
          align-self: center;
        }
      }

      .six-news__h4 {
        align-self: center;
        font-size: 1.5rem;
        margin-left: 1rem;

        @include respond(bp-smallest) {
          text-align: center;
          font-size: 1.7rem;
        }

        @include respond(bp-small-smallest) {
          text-align: center;
        }

        @include respond(bp-medium-small) {
          text-align: center;
        }

        @include respond(bp-large-medium) {
          margin-top: 5px;
          margin-bottom: 0;
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.8rem;
        }

        @include respond(bp-between-largest-large) {
          font-size: 1.4rem;
        }
      }

      @include respond(bp-smallest) {
        flex-direction: row;
      }

      @include respond(bp-small-smallest) {
        height: 100%;
      }

      @include respond(bp-large-medium) {
        height: 20rem;
      }
    }

    .six-news__card--g1 {
      color: var(--color-red-text);
    }

    .six-news__card--ge {
      color: var(--color-green-text);
    }

    .six-news__card--gshow {
      color: var(--color-orange-text);
    }

    @include respond(bp-smallest) {
      margin: 0;

      &:not(:last-child) {
        margin: 0 2.5rem 0 0;
      }
    }

    @include respond(bp-small-smallest) {
      width: 33.333%;

      &:not(:last-child) {
        margin: 0 2.8rem 0 0;
      }
    }

    @include respond(bp-medium-small) {
      &:not(:last-child) {
        margin-right: 1.2rem;
      }
    }
  }

  @include respond(iphoneX) {
    display: flex;
    flex-direction: column;
    margin: 0 1.1rem;
  }

  @include respond(bp-smallest) {
    display: flex;
    flex-direction: column;
  }

  @include respond(bp-small-smallest) {
    display: flex;
  }

  @include respond(bp-medium-small) {
    display: flex;
  }
}
