.slider {
  margin: 5rem auto;

  @include respond(iphoneX) {
    margin-top: 1rem;
  }

  @include respond(bp-smallest) {
    margin: 7rem auto 2rem auto;
    max-width: 90%;
  }

  @include respond(bp-small-smallest) {
    margin: 7rem auto 2rem auto;
    max-width: 90%;
  }

  @include respond(bp-medium-small) {
    margin: 7rem auto 2rem auto;
    max-width: 90%;
  }

  @include respond(bp-large-medium) {
    margin: 1rem auto;
  }

  @include respond(bp-between-largest-large) {
    margin: 3rem;
  }

  .slider__item {
    .slider__img {
      cursor: pointer;
    }
  }
}

// TINY SLIDER CONFIG
#tns2-ow {
  @include respond(iphoneX) {
    max-width: 200px;
    margin: 0 auto;
  }
}

#tns1-ow {
  height: 100%;
}

.tns-nav {
  display: none;
}

#tns1-mw {
  max-width: 80%;
  margin: 0 auto;
}

.tns-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

[data-controls="prev"] {
  background-color: inherit;
  border: none;
  outline: none;
  position: relative;
  left: 0rem;
  top: 9rem;
  z-index: 10000;
  font-size: 5rem;

  @include respond(iphoneX) {
    left: -3rem;
  }
}

[data-controls="next"] {
  background-color: inherit;
  border: none;
  outline: none;
  position: relative;
  right: 0;
  top: 9rem;
  z-index: 10000;
  font-size: 5rem;

  @include respond(iphoneX) {
    right: -3rem;
  }
}

[data-controls="prev"],
[data-controls="next"] {
  @include respond(bp-large-medium) {
    top: 6rem;
  }

  @include respond(bp-medium-small) {
    top: 12rem;
  }

  @include respond(bp-small-smallest) {
    top: 12rem;
  }

  @include respond(bp-smallest) {
    top: 12rem;
  }

  @include respond(iphoneX) {
    font-size: 3rem;
    top: 4.6rem;
  }
}
