.text-news {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 3rem;
  font-size: 18px;

  @include respond(bp-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    padding: 1rem;
    font-size: 11px;
  }

  @include respond(bp-small-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 1rem;
    font-size: 14px;
  }

  @include respond(bp-medium-small) {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    padding: 1rem;
  }

  @include respond(bp-large-medium) {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  }

  @include respond(bp-between-largest-large) {
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  }

  &--g1,
  &--ge,
  &--gshow {
    @include respond(bp-smallest) {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include respond(bp-small-smallest) {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include respond(bp-medium-small) {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--g1 {
    color: var(--color-red-text);
  }

  &--ge {
    color: var(--color-green-text);
  }

  &--gshow {
    color: var(--color-orange-text);
  }

  &--g1:hover,
  &--ge:hover,
  &--gshow:hover {
    filter: brightness(140%);
  }

  h4 {
    @include respond(bp-large-medium) {
      text-align: center;
    }
  }
}
