.text-news {
  grid-column: full-start/full-end;
  display: flex;
  align-items: center;
  font-size: 1.8rem;

  .text-news__h4 {
    width: 33.3333%;
    padding: 8px;

    &:hover {
      @extend %hover;
    }

    @include respond(bp-smallest) {
      text-align: center;
      margin: 1rem 0;
    }

    @include respond(bp-small-smallest) {
      text-align: center;
    }

    @include respond(bp-medium-small) {
      text-align: center;
    }

    @include respond(bp-large-medium) {
      text-align: center;
    }
  }

  .text-news__h4--g1 {
    color: var(--color-red-text);
  }

  .text-news__h4--ge {
    color: var(--color-green-text);
  }

  .text-news__h4--gshow {
    color: var(--color-orange-text);
  }

  @include respond(iphoneX) {
    display: none;
  }

  @include respond(bp-smallest) {
    flex-direction: column;
    padding: 1rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border-top: 2px solid var(--color-grey-light-4);
  }

  @include respond(bp-small-smallest) {
    padding: 1rem;
    font-size: 1.4rem;
  }

  @include respond(bp-medium-small) {
    padding: 1rem;
  }
}
