.three-news {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 3rem;

  .three-news__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .three-news__img {
      border-radius: 4px;
      transition: all 1s ease;
    }

    .three-news__h4 {
      font-size: 22px;
      line-height: 2.8rem;
      padding: 0 1.1rem;

      @include respond(bp-smallest) {
        text-align: center;
        font-size: 1.2rem;
        line-height: normal;
        margin-top: 3px;
        margin-bottom: 0.5rem;
      }

      @include respond(bp-small-smallest) {
        text-align: center;
        font-size: 1.2rem;
        line-height: normal;
        margin-top: 3px;
        margin-bottom: 0.5rem;
      }

      @include respond(bp-medium-small) {
        text-align: center;
        font-size: 1.5rem;
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 0;
      }

      @include respond(bp-large-medium) {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: center;
        line-height: 18px;
      }
    }

    @include respond(bp-large-medium) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .three-news__container--g1 {
    color: var(--color-red-text);
  }

  .three-news__container--ge {
    color: var(--color-green-text);
  }

  .three-news__container--gshow {
    color: var(--color-orange-text);
  }
  // &:hover {
  //   img {
  //     filter: brightness(70%);
  //   }

  //   h4 {
  //     filter: brightness(140%);
  //   }
  // }
  @include respond(iphoneX) {
    display: none;
  }

  @include respond(bp-smallest) {
    display: none;
  }

  @include respond(bp-small-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  @include respond(bp-medium-small) {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    margin: 1.5rem 0;
    grid-column-gap: 1.4rem;
  }

  @include respond(bp-large-medium) {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    align-items: center;
  }

  @include respond(bp-between-largest-large) {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}
