.three-news {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 3rem;

  @include respond(iphone6to8P) {
    display: none;
  }

  @include respond(iphoneX) {
    display: none;
  }

  @include respond(bp-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }

  @include respond(bp-small-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  @include respond(bp-medium-small) {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    margin: 1.5rem 0;
  }

  @include respond(bp-large-medium) {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  }

  @include respond(bp-between-largest-large) {
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  }

  &--g1,
  &--ge,
  &--gshow {
    @include respond(bp-medium-small) {
      height: 100%;
    }

    img {
      width: 100%;
      border-radius: 4px;
      transition: all 1s ease;

      @include respond(bp-small-smallest) {
        height: 10rem;
      }

      @include respond(bp-large-medium) {
        height: 13rem;
      }
    }

    h4 {
      font-size: 22px;
      margin-bottom: 1.5rem;
      line-height: 2.8rem;

      @include respond(bp-smallest) {
        text-align: center;
        font-size: 1.2rem;
        line-height: normal;
        margin-top: 3px;
        margin-bottom: 0.5rem;
      }

      @include respond(bp-small-smallest) {
        text-align: center;
        font-size: 1.2rem;
        line-height: normal;
        margin-top: 3px;
        margin-bottom: 0.5rem;
      }

      @include respond(bp-medium-small) {
        text-align: center;
        font-size: 1.5rem;
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 0;
      }

      @include respond(bp-large-medium) {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: center;
        line-height: 18px;
      }
    }

    &:hover {
      img {
        filter: brightness(70%);
      }

      h4 {
        filter: brightness(140%);
      }
    }
  }

  &--g1 h4 {
    color: var(--color-red-text);
  }

  &--ge h4 {
    color: var(--color-green-text);
  }

  &--gshow h4 {
    color: var(--color-orange-text);
  }
}
