.topglobo {
  max-width: 100%;
  margin: 0 auto 5rem auto;
  padding: 0 2rem;
  border-top: 1px solid var(--color-grey-light-4);
  border-bottom: 1px solid var(--color-grey-light-4);
  background-color: var(--color-gray-light-5);

  @include respond(iphoneX) {
    display: none;
  }

  @include respond(bp-smallest) {
    display: none;
  }

  @include respond(bp-small-smallest) {
    display: none;
  }

  @include respond(bp-medium-small) {
    display: none;
  }
}

.topglobo__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 0;

  .topglobo__h2 {
    font-size: 3rem;
    font-family: var(--font-primary);
  }

  .topglobo__p {
    font-size: 1.5rem;
    color: var(--color-gray);
    padding-left: 1rem;
    padding-top: 6px;
    font-family: var(--font-primary);
    cursor: auto;
  }
}

.topglobo__news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-column-gap: 3rem;

  @include respond(bp-large-medium) {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }

  .topglobo__g1 .topglobo__link {
    color: var(--color-red-text);
  }

  .topglobo__ge .topglobo__link {
    color: var(--color-green-text);
  }

  .topglobo__gshow .topglobo__link {
    color: var(--color-orange-text);
  }

  .topglobo__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:first-child {
      font-size: 2rem;
      padding: 2rem 0;
      min-height: 18rem;
      align-items: initial;

      @include respond(iphoneX) {
        font-size: 1.5rem;
        min-height: 11rem;
      }

      @include respond(bp-smallest) {
        font-size: 1.5rem;
        min-height: 11rem;
      }

      @include respond(bp-small-smallest) {
        font-size: 1.5rem;
        min-height: 11rem;
      }

      @include respond(bp-medium-small) {
        min-height: 10rem;
      }

      @include respond(bp-large-medium) {
        font-size: 1.5rem;
        min-height: 14.5rem;
      }

      @include respond(bp-between-largest-large) {
        font-size: 1.5rem;
        min-height: 15rem;
      }
    }

    &:not(:first-child) {
      font-size: 1.2rem;
      padding: 2rem 0;
      min-height: 8rem;
      align-items: initial;

      @include respond(iphoneX) {
        font-size: 1.1rem;
        min-height: 7rem;
        padding: 1.5rem 0;
      }

      @include respond(bp-medium-small) {
        min-height: 6rem;
      }

      @include respond(bp-large-medium) {
        font-size: 1rem;
      }
    }

    .topglobo__h2 {
      padding-left: 1rem;
    }

    .topglobo__link {
      position: relative;
      margin-left: 2rem;

      &:hover {
        filter: brightness(115%);
      }
    }

    &::before {
      content: "01";
      position: absolute;
      top: 22px;
      left: 0;
      color: #666;
      font-size: 1.8rem;
      letter-spacing: -1px;
      opacity: 0.6;
      font-weight: bold;
    }

    &:nth-child(2) {
      &::before {
        content: "02";
        position: absolute;
        top: 19px;
        left: 0;
        color: #666;
        font-size: 1.8rem;
        letter-spacing: -1px;
        opacity: 0.6;
        font-weight: bold;
      }
    }

    &:nth-child(3) {
      &::before {
        content: "03";
        position: absolute;
        top: 19px;
        left: 0;
        color: #666;
        font-size: 1.8rem;
        letter-spacing: -1px;
        opacity: 0.6;
        font-weight: bold;
      }
    }
    &:nth-child(4) {
      &::before {
        content: "04";
        position: absolute;
        top: 19px;
        left: 0;
        color: #666;
        font-size: 1.8rem;
        letter-spacing: -1px;
        opacity: 0.6;
        font-weight: bold;
      }
    }

    &:last-child {
      &::before {
        content: "05";
        position: absolute;
        top: 19px;
        left: 0;
        color: #666;
        font-size: 1.8rem;
        letter-spacing: -1px;
        opacity: 0.6;
        font-weight: bold;
      }
    }
  }
}
