.videos-header {
  grid-column: full-start/full-end;
  border-bottom: 1px solid gray;
  height: 4.7rem;
  margin-bottom: -2.2rem;

  @include respond(iphoneX) {
    margin-bottom: 0.5rem;
  }

  @include respond(bp-smallest) {
    margin-bottom: 0.6rem;
  }

  @include respond(bp-small-smallest) {
    margin-bottom: 0.8rem;
  }

  @include respond(bp-medium-small) {
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 3rem;

    @include respond(bp-medium-small) {
      font-size: 3rem;
      margin-top: 0rem;
    }

    @include respond(bp-large-medium) {
      font-size: 2.5rem;
      margin-top: 5px;
    }
  }

  span::after {
    content: "";
    width: 60px;
    height: 5px;
    display: block;
    margin-top: 0.6875rem;
    position: absolute;
    background: #f31d1d;
  }
}

.videos {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  grid-column-gap: 1.5rem;

  /* LEFT SIDE */
  &-left {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      display: none;
    }

    @include respond(bp-small-smallest) {
      display: none;
    }

    @include respond(bp-medium-small) {
      display: none;
    }

    @include respond(bp-large-medium) {
      display: none;
    }

    &:hover {
      img {
        filter: brightness(60%);
      }
    }

    img {
      border-radius: 8px;
      transition: all 1s ease;
    }

    &--container {
      position: absolute;
      bottom: 20px;
      text-align: initial;
      left: 1.2rem;

      h4 {
        font-size: 1.8rem;
        margin-bottom: 0.7rem;
      }

      p {
        font-size: 2rem;
        width: 80%;
      }

      span::before {
        content: "3 min";
        position: absolute;
        right: 35px;
        bottom: 0;
        font-size: 1.5rem;
      }
    }

    &--button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      cursor: pointer;
      border-color: transparent transparent transparent
        var(--color-grey-light-3);
      border-width: 37px 0 37px 60px;
      transition: all 1s ease;
    }
  }
  /* LEFT SIDE ENDS */

  /* RIGHT SIDE */
  &-right {
    display: grid;
    grid-gap: 1px;

    @include respond(iphoneX) {
      display: flex;
      flex-direction: column;
    }

    @include respond(bp-smallest) {
      display: flex;
      flex-wrap: wrap;
    }

    @include respond(bp-small-smallest) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond(bp-medium-small) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      border-radius: 8px;
      transition: all 1s ease;

      @include respond(iphoneX) {
        width: 85%;
      }

      @include respond(bp-small-smallest) {
        height: 13rem;
      }

      @include respond(bp-small-smallest) {
        height: 15rem;
      }

      @include respond(bp-medium-small) {
        height: 22rem;
      }
    }

    &--container {
      position: absolute;
      bottom: 10px;
      text-align: initial;
      left: 1.2rem;

      @include respond(bp-medium-small) {
        left: 2rem;
        bottom: 3rem;
      }

      h4 {
        font-size: 1.2rem;
        margin-bottom: 0.7rem;

        @include respond(bp-medium-small) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1.5rem;
        width: 80%;

        @include respond(bp-medium-small) {
          font-size: 1.8rem;
        }
      }

      span::before {
        content: "3 min";
        position: absolute;
        right: 10px;
        bottom: 0;
        font-size: 1.2rem;

        @include respond(bp-medium-small) {
          display: none;
        }
      }
    }

    &--videos1,
    &--videos3 {
      grid-column: 1/3;
      position: relative;
      color: white;

      @include respond(iphone6to8P) {
        width: 95%;
        margin-left: 3px;
      }

      @include respond(iphoneX) {
        margin-left: 1rem;
      }

      @include respond(bp-small-smallest) {
        width: 48%;
        margin: 0 10px 10px 0;
      }

      @include respond(bp-medium-small) {
        width: 48%;
        margin: 0 10px 10px 0;
      }

      @include respond(bp-large-medium) {
        grid-column: 1/4;
      }

      &:hover {
        img {
          filter: brightness(60%);
        }
      }
    }

    &--videos2,
    &--videos4 {
      grid-column: 4/6;
      position: relative;
      color: white;

      @include respond(iphone6to8P) {
        width: 95%;
        margin-left: 3px;
      }

      @include respond(iphoneX) {
        margin-left: 1rem;
      }

      @include respond(bp-small-smallest) {
        width: 48%;
        margin: 0 10px 10px 0;
      }

      @include respond(bp-medium-small) {
        width: 48%;
        margin: 0 10px 10px 0;
      }

      @include respond(bp-large-medium) {
        grid-column: 4/7;
      }

      &:hover {
        img {
          filter: brightness(60%);
        }
      }
    }

    &--button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      cursor: pointer;
      border-color: transparent transparent transparent
        var(--color-grey-light-3);
      border-width: 18px 0 18px 25px;
      transition: all 1s ease;

      @include respond(iphoneX) {
        left: 46%;
        top: 48%;
      }
    }

    @include respond(bp-large-medium) {
      top: 2rem;
      position: relative;
      grid-gap: 5px;

      img {
        height: 20rem;
      }
    }
  }
  /* RIGHT SIDE ENDS */
}
