.videos-header {
  grid-column: full-start/full-end;
  border-bottom: 1px solid gray;
  height: 4.7rem;
  margin-bottom: -2.2rem;

  .videos-header__h4 {
    font-size: 3rem;
    text-transform: uppercase;

    &::after {
      content: "";
      width: 60px;
      height: 5px;
      display: block;
      margin-top: 0.6875rem;
      position: absolute;
      background: #f31d1d;
    }

    @include respond(bp-medium-small) {
      font-size: 3rem;
      margin-top: 0rem;
    }

    @include respond(bp-large-medium) {
      font-size: 2.5rem;
      margin-top: 5px;
    }
  }

  @include respond(iphoneX) {
    margin-bottom: 0.5rem;
  }

  @include respond(bp-smallest) {
    margin-bottom: 0.6rem;
  }

  @include respond(bp-small-smallest) {
    margin-bottom: 0.8rem;
  }

  @include respond(bp-medium-small) {
    margin-bottom: 1rem;
  }
}

.videos {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  grid-column-gap: 1.5rem;

  .videos__left {
    position: relative;
    text-align: center;
    color: #fff;
    cursor: pointer;

    &:hover {
      .videos__left-img {
        filter: brightness(60%);
      }
    }

    .videos__left-img {
      border-radius: 8px;
      transition: all 1s ease;
    }

    .videos__text {
      position: absolute;
      bottom: 1rem;
      text-align: initial;
      left: 4rem;
      width: 54rem;

      .videos__container-h4 {
        font-size: 1.8rem;
        margin-bottom: 0.7rem;
      }

      .videos__container-p {
        font-size: 2rem;
        width: 95%;

        &::before {
          content: "3 min";
          position: absolute;
          right: 0px;
          bottom: 4px;
          font-size: 1.5rem;
        }
      }
    }

    .videos__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      cursor: pointer;
      border-color: transparent transparent transparent
        var(--color-grey-light-3);
      border-width: 37px 0 37px 60px;
      transition: all 1s ease;
    }

    @include respond(iphoneX) {
      display: none;
    }

    @include respond(bp-smallest) {
      display: none;
    }

    @include respond(bp-small-smallest) {
      display: none;
    }

    @include respond(bp-medium-small) {
      display: none;
    }

    @include respond(bp-large-medium) {
      display: none;
    }
  }

  .videos__right {
    display: grid;
    grid-gap: 1px;

    .videos__right-img {
      border-radius: 8px;
      transition: all 1s ease;

      @include respond(iphoneX) {
        width: 85%;
      }
    }

    .videos__right-text {
      position: absolute;
      bottom: 10px;
      text-align: initial;
      left: 2rem;

      @include respond(bp-medium-small) {
        left: 2rem;
        bottom: 3rem;
      }

      .videos__right-h4 {
        font-size: 1.2rem;
        margin-bottom: 0.7rem;

        @include respond(bp-medium-small) {
          font-size: 2.5rem;
        }
      }

      .videos__right-p {
        font-size: 1.5rem;
        width: 80%;

        &::before {
          content: "3 min";
          position: absolute;
          right: 2rem;
          bottom: 0;
          font-size: 1.2rem;

          @include respond(bp-medium-small) {
            display: none;
          }
        }

        @include respond(bp-medium-small) {
          font-size: 1.8rem;
        }
      }
    }

    .videos__left-column {
      grid-column: 1/3;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;
      cursor: pointer;

      &:hover {
        .videos__right-img {
          filter: brightness(60%);
        }
      }

      @include respond(iphoneX) {
        margin-left: 1rem;
      }

      @include respond(bp-small-smallest) {
        margin-right: 1rem;
        margin-bottom: 1rem;
      }

      @include respond(bp-medium-small) {
        margin-right: 2rem;
        margin-bottom: 2rem;
      }

      @include respond(bp-large-medium) {
        grid-column: 1/4;
      }
    }

    .videos__right-column {
      grid-column: 4/6;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: #fff;
      cursor: pointer;

      &:hover {
        .videos__right-img {
          filter: brightness(60%);
        }
      }

      @include respond(iphoneX) {
        margin-left: 1rem;
      }

      @include respond(bp-large-medium) {
        grid-column: 4/7;
      }
    }

    .videos__right-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      cursor: pointer;
      border-color: transparent transparent transparent
        var(--color-grey-light-3);
      border-width: 18px 0 18px 25px;
      transition: all 1s ease;

      @include respond(iphoneX) {
        left: 46%;
        top: 48%;
      }
    }

    @include respond(iphoneX) {
      display: flex;
      flex-direction: column;
    }

    @include respond(bp-smallest) {
      display: flex;
      flex-direction: column;
    }

    @include respond(bp-small-smallest) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond(bp-medium-small) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond(bp-large-medium) {
      top: 2rem;
      position: relative;
      grid-gap: 5px;
    }
  }

  @include respond(bp-smallest) {
    display: flex;
    justify-content: center;
  }
}
